<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>sessionResult</title>
  </head>
  <body>
    <h4>session 결과</h4>

    <p>
      uid: <%= uid %> <br />
      name: <%= name %> <br />
      hp: <%= hp %> <br />
      age: <%= age %> <br />
    </p>

    <a href="/sub2/sessionClear">session 삭제</a>
    <a href="/">메인</a>
  </body>
</html>
