<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>session</title>
  </head>
  <body>
    <h4>session 실습</h4>
    <a href="/sub2/sessionResult">session 확인</a>
  </body>
</html>
