<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h3>Ch03.Node.js 미들웨어</h3>

    <h4>express.static</h4>
    <img src="/images/footer_logo.png" alt="logo" />
    <img src="/images/header_logo.png" alt="logo" />
    <img src="/images/my_logo.jpg" alt="logo" />

    <h4>get, post</h4>
    <a href="/sub1/get1?uid=a101">Get1 요청</a>
    <a href="/sub1/get2?name=홍길동&age=21">Get2 요청</a>
    <a href="/sub1/post1">Post1 요청</a>
    <a href="/sub1/post2">Post2 요청</a>

    <h4>cookie, session</h4>
    <a href="/sub2/cookie">Cookie 실습</a>
    <a href="/sub2/session">Session 실습</a>
  </body>
</html>
